
.App {
  text-align: center;
  background-image: url(./images/White2.png);
  
  height: 100vh;
  width: 100vw;

}
#CSS {
  background-color: Black;
  color: White;
  height: 100px;
  width: 200px;
  float: right;
}
#HTML {
  background-color: Black;
  color: White;
  height: 100px;
  width: 200px;
  float: left;
}

#header {
  font-size: 50px;
  color: white;
}

